@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer base {
  /* Light Theme */
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --primary: #000000;
  }

  /* Dark Theme */
  .dark {
    --background: #000000;
    --foreground: #ffffff;

    --primary: #ffffff;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}